.content-container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 48px 24px;

    &__actions {
        display: flex;
        justify-content: center;
    }
}

.images-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (min-width: 767px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.empty-state {
    display: flex;
    padding: 24px;
    border-radius: 12px;
    background-color: rgba(103, 58, 183, 0.87);
    color: white;
    text-align: center;
    justify-content: center;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
}