<main class="content-container">
    <app-search (onSearch)="searchImages($event)" (onClear)="loadTrendingImgs()"/>

    @if (isError$ | async) {
        <div class="empty-state">
            Oops! Something went wrong. Please try again later.
        </div>
    } @else if ((isLoaded$ | async) && !((images$ | async)?.length)) {
        <div class="empty-state">
            No images found for {{ selectedQuery }} .
            <br />
            Try searching something else?
        </div>
    } @else {
        <div class="images-container">
            @for (image of images$ | async; track image.id) {
                <app-image [image]="image" />
            }
        </div>
    
        @if (isLoadMore) {
            <div class="content-container__actions">
                <button (click)="loadMore()" mat-button color="primary">Load more</button>
            </div>
        }

        @if (isLoading$ | async) {
            <div class="spinner-wrapper">
                <mat-spinner></mat-spinner>
            </div>
        }
    }
</main>